.navbar {
  font: calibri;
  font-size: 20px;
  background-blend-mode: luminosity;
}

.navbar .navbar-opaque {
  background: #fff !important;
}

.navbar .nav-item .nav-link {
  color: #fff;
  font-family: Lato, Arial, Helvetica Neue, sans-serif;
  line-height: 1.5rem;
  min-height: 48px;
}

.navbar .nav-item .btn {
  background-color: #1d9496;
  border-color: #1d9496;
}

a{
  color: #fff;
}
.logoname{
  font: sans-serif;
}